.side-navbar.shrink .sidenav-heading {
  margin-left: 5px;
  font-size: .8rem;
  max-width: 8ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* SIDE NAVBAR MEDIAQUERIES ------------------------------ */

@media screen and (max-width: 700px) {
  .page {
    width: calc(100% - 70px);
  }
  .page.active {
    width: calc(100% - 70px);
  }
  .page.active-sm {
    width: calc(100% - 70px);
  }
  .side-navbar {
    width: 70px;
    text-align: center;
  }
  .side-navbar .brand-small {
    display: block;
  }

  .side-navbar .sidenav-header-inner {
    display: none;
  }

  .side-navbar .sidenav-heading {
    margin-left: 5px;
    font-size: .8rem;
    max-width: 8ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .side-navbar ul li a {
    font-size: .7rem;
    padding-left: 5px;
    padding-right: 5px;
  }

  .side-navbar ul li a[data-toggle="collapse"]::before {
    content: '\f107';
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    position: absolute;
    top: auto;
    right: 50%;
    bottom: 0;
    left: auto;
  }

  .side-navbar ul li a[data-toggle="collapse"][aria-expanded="true"]::before {
    content: '\f106';
  }

  .side-navbar ul li ul a {
    padding-left: 10px;
    font-size: .7rem;
  }

  .side-navbar i {
    display: block;
    margin-right: 0;
    font-size: 1rem;
  }

  .side-navbar .arrow {
    float: none;
    -webkit-transform: none !important;
    transform: none !important;
  }

  .side-navbar .badge {
    display: none;
  }

  .side-navbar.show-sm {
    left: 0 !important;
  }
  .side-navbar .brand-small {
    display: block;
  }
  .side-navbar .sidenav-header-inner {
    display: none;
  }
  .side-navbar .sidenav-heading {
    margin-left: 0;
    font-size: .8rem;
  }
  .side-navbar ul li a {
    font-size: .7rem;
    padding-left: 5px;
    padding-right: 5px;
  }
  .side-navbar ul li a[data-toggle="collapse"]::before {
    content: '\f107';
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    position: absolute;
    top: auto;
    right: 50%;
    bottom: 0;
    left: auto;
  }
  .side-navbar ul li a[data-toggle="collapse"][aria-expanded="true"]::before {
    content: '\f106';
  }
  .side-navbar ul li ul a {
    padding-left: 10px;
    font-size: .7rem;
  }
  .side-navbar i {
    display: block;
    margin-right: 0;
    font-size: 1rem;
  }
  .side-navbar .arrow {
    float: none;
    -webkit-transform: none !important;
    transform: none !important;
  }
  .side-navbar .badge {
    display: none;
  }
}
